nav {
  .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .button-collapse {
    display: block!important;
    margin: 0 10px;
  }

  .side-nav{
    h5 {
      color:$primary_color;
      padding: 0 16px;
    }
    a {
      padding: 0 16px;
    }
    li {
      border-bottom: 1px solid $silver;
    }
  }
}
